body{
    background-color: #ADEFD1FF;
    color: #00203FFF;
    margin: 0rem;
}
nav{
    padding: 2rem;
    background-color: #00203FFF;
    color: #ADEFD1FF;
    margin: auto;
    display: block;
}
nav a{
    color: #ADEFD1FF;
    padding: 1rem;
    border: 1px solid #ADEFD1FF;
    border-radius: 1rem;
    margin: 1rem 1rem;
    text-decoration: none;
}
button{
    background-color: transparent;
    padding: 0.4rem;
    color: #00203FFF;
    border: 1px solid #00203FFF;
    border-radius: 1rem;
    cursor: pointer;
    margin: 1rem auto;
}